extends ../base
include ../mixins/stamp-block

block content
    h1 이번달 #{loggedUser.name}의 칭찬 도장 현황
    table#boardTable 
        tr
            th 번호
            th 이름
            each stamp in stamps
                th=stamp.title
            else 
                li 도장이 없습니다. 
            th 이번달
            th 총누적
        tr 
            td=student.index 
            td#studentName(data-stu_id=student._id)=student.name 
            each stamp in student.currStamps
                each info in stamp.stamps
                    td#stampBlock
                        div#stampId
                            span#stampValue=info.value
                td#totalValue.totalValue=stamp.total
            td#allValue 총 누적 도장수                       

    //- div.wrapper 
    //-     div 스티커1 밥
    //-     div 스티커2 공부
    //-     div 스티커3 칭찬
    //-     div 이번달 총 도장 개수
    //-     div 지금까지 모은 도장 개수
    //-     div 2 밥 개수
    //-     div 3 공부 개수
    //-     div 2 칭찬 개수
    //-     div 7 이번달 총 도장 개수
    //-     div 7 총 누적 개수


